@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: repeating-linear-gradient(orange 0%, orange 50%, yellow 50%, yellow 100%);
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    position: relative;
}

.search {
    height: 50px;
    width: 50px;
    padding: 10px;
    border: none;
    font-size: 16px;
    transition: width .3s ease;
}

.container.active .search {
    width: 300px;
}

.search:focus {
    outline: none;
}

.btn {
    height: 50px;
    width: 50px;
    border: 0;
    background-color: #fff;
    font-size: 18px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transition: transform .3s ease;
}

.container.active .btn {
    transform: translateX(300px);
}