@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400&display=swap');

*{
    box-sizing: border-box;
}

body {
    background: #2c3e50;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.kinetic {
    width: 100px;
    height: 100px;
    position: relative;
}

.kinetic::before,
.kinetic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 50px solid transparent;
    border-bottom-color: white;
}

.kinetic::after {
    animation: rotateA 2s infinite linear 0.5s;
}

.kinetic::before {
    transform: rotate(90deg);
    animation: rotateB 2s infinite linear;
}

@keyframes rotateA {
    0%, 25% {
        transform: rotate(0)
    }
    50%, 75% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotateB{
    0%, 25% {
        transform: rotate(90%)
    }
    50%, 75% {
        transform: rotate(270deg)
    }
    100% {
        transform: rotate(450deg)
    }
}
