@import url('https://fonts.googleapis.com/css?family=Roboto:wght@400&display=swap');

*{
    box-sizing: border-box;
}

body {
    background: #2c3e50;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

