@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Muli', sans-serif;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

