@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: darksalmon;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}


.speed-wrapper {
    position: absolute;
    bottom: 40px;
    padding: .5em 1em;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.speed-wrapper input {
    width: 40px;
    padding: .5em;
    border: none;
    background-color: darksalmon;
}

.speed-wrapper input:focus {
    outline: none;
}
