@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #2a2a72;
    color: white;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 1em;
}

form {
    width: 100%;
    max-width: 550px;
}

.search {
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: none;
    background-color: rgb(98, 20, 172);
    color: white;
    font-size: .9em;
}

.search::placeholder {
    color: rgb(168, 148, 192);
}

.search:focus {
    outline: none;
}

main {
    width: 100%;
    max-width: 650px;
}

.user-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    background-color: rgb(98, 20, 172);
    padding: 2em;
    border-radius: 10px;
}

.user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid #2a2a72;
}

.user-details h2 {
    margin: 0 0 15px;
    font-size: 1.5em;
}

.user-details p {
    margin: 0;
    margin-bottom: 15px;
    font-size: .9em;
}

.repo-details {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 15px;
}

.repo-details p {
    margin: 0;
}

.repo-details p span {
    font-size: .9em;
}

.repos span {
    background-color: #2a2a72;
    font-size: .8em;
    padding: .3em .8em;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}






@media (max-width: 500px) {
    .user-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}