@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
    --active-color: rgb(83, 167, 245);
    --inactive-color: rgb(198, 213, 226);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 50px;
    position: relative
}

.slides-container::before {
    content: '';
    position: absolute;
    background-color:  rgb(200, 215, 233);
    height: 3px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.range {
    position: absolute;
    background-color: rgb(87, 160, 243);
    height: 3px;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: width .3s ease;
    z-index: -1;
}

.circle {
    background-color: #fff;
    font-size: 14px;
    color: rgb(200, 215, 233);
    width: 30px;
    height: 30px;
    border: 3px solid rgb(200, 215, 233);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}

.circle.active {
    border: 3px solid rgb(87, 160, 243);
    color: rgb(87, 160, 243);
}

.btns {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.btn {
    padding: 10px 30px;
    background-color: rgb(87, 160, 243);
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: rgb(200, 215, 233);
    color: rgb(143, 160, 180);
    cursor: not-allowed;
}
