@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
}

.container {
    background-color: #fff;
    padding: 50px;
    position: relative;
    transform-origin: top left;
    transition: transform .5s linear;
    
}

main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.container.active {
    transform: rotate(-15deg)
}

.circle-container {
    position: fixed;
    left: -100px;
    top: -100px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: tomato;
    border-radius: 50%;
    position: relative;
    transition: transform .5s linear;
}

.container.active .circle {
    transform: rotate(-80deg);
}

.btn {
    color: #fff;
    position: absolute;
    left: 100px;
    top: 100px;
    height: 100px;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    cursor: pointer;
}

.btn.open {
    left: 60%;
}

.btn.close {
    top: 60%;
    font-size: 28px;
    transform-origin: top left;
    transform: rotate(90deg);
}

.container img {
    width: 100%;
}

.container h1 {
    margin-bottom: 0;
}

.container small {
    font-style: italic;
    color: rgb(109, 108, 108);
}

.container p {
    line-height: 1.5;
}

nav {
    position: absolute;
    left: 10px;
    bottom: 40px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    font-family: inherit;
    color: #fff;
    text-transform: capitalize;
    transform: translateX(-200%);
    transition: transform .5s linear;
}

.container.active + nav ul {
    transform: translateX(0%);
}

nav ul li {
    margin: 15px;
}

nav ul li span {
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;
    letter-spacing: 1px;
}

nav ul li + li {
    padding-left: 15px;
}

nav ul li + li + li {
    padding-left: 30px;
}