@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(yellow 0, yellow 50%, orange 50%, orange 100%);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 1rem;

}


.container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: aliceblue;
    height: 50px;
    width: 50px;
    padding: 1rem;
    transition: width 1s ease;
}

.container.active {
    width: 300px;
}

.container .menus {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menus .menu {
    margin: 0 5px;
    font-size: 14px;
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
}

.container.active .menus .menu {
    opacity: 1;
    transform: rotateY(360deg);
}



.container .btn {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container .active:focus {
    outline: 0;
}


.container.active .btn {
    right: 10px;
    top: 12px;
   
}

.container .btn .toggle {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: orange;
    left: 0;
    transition: 1s ease;
}

.container .btn .top{
    top: 12px;
    transform: rotate(0deg);

}

.container.active .btn .top{
    top: 12px;
    transform: rotate(45deg);

}

.container .btn .bottom {
    bottom: 10px;
    transform: rotate(0deg);
}

.container.active .btn .bottom {
    bottom: 16px;
    transform: rotate(-45deg);
}