@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #eafbff;
    background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 1rem;
}

nav {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: white;
    padding: 5px 20px;
    width: 50px;
    position: relative;
    overflow: hidden;
    transition: .5s ease;
}

nav.active {
    width: 320px;
}

.container {
    padding: 0;
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.item {
    opacity: 0;
    font-size: 14px;
    color: rgb(39, 39, 39);
    transform: rotateY(720deg);
    transition: .5s ease;
}

nav.active .container .item {
    opacity: 1;
    transform: rotateY(0deg);
}

.btn {
    position: absolute;
    right: 15.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: .5s ease;
}

nav.active .btn {
    right: 20px;
}

.line {
    background-color: #5290f9;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: .5s ease;
}

.top-toggle-line {
    top: 5px;
    transform: rotate(720deg);
}

.bottom-toggle-line {
    bottom: 5px;
    transform: rotate(-720deg);
}

nav.active .btn .top-toggle-line{
    top: unset;
    transform: rotate(45deg);
}

nav.active .btn .bottom-toggle-line{
    bottom: unset;
    transform: rotate(-45deg);
}