@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    color: white;
    font-family: 'Muli', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.form-controller {
    position: relative;
    margin: 30px 0;
}

.form-controller input {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px white solid;
    padding: 15px 0;
    display: block;
    width: 100%;
    font-size: 18px;
}

.form-controller input:focus,
.form-controller input:valid {
    outline: 0;
    border-bottom-color: lightblue;
}

.form-controller label {
    position: absolute;
    top: 15px;
    left: 0;
}

.btn {
    display: inline-block;
    width: 100%;    
    padding: 15px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: lightblue;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.text a {
    color: lightblue;
    text-decoration: none;
}

.form-controller input + label span {
    font-size: 18px;
    display: inline-block;
    transition: .3s cubic-bezier(.48,1.96,.36,1.39);
}

.form-controller input:focus + label span {
    color: lightblue;
    transform: translateY(-30px);
}