@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --border-color: #144fc6;
    --fill-color: #6ab3f8

}

body {
    background-color: #3494e4;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 0;
}

.goal {
    margin: 5px 0 30px;
}

.big-cup {
    width: 150px;
    height: 320px;
    background-color: #fff;
    border: 3px solid var(--border-color);
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
}

.remained {
    color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    transition: .3s ease;
}

.litre {
    font-weight: bold;
    font-size: 19px;
    margin: 0;
}

.remained-text {
    font-size: 12px;
}

.water-level {
    background-color: #6fb7f1;
    color: #144fc6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    height: 0%;
    transition: .3s ease;
}

.container .text {
    font-size: 14px;
    font-weight: bold;
}

.small-cups-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 200px;
    margin: 0 auto;
}

.small-cup {
    height: 73px;
    width: 40px;
    background-color: white;
    color: var(--fill-color);
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--border-color);
    border-radius: 0 0 10px 10px;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
    transition: .3s ease;
    cursor: pointer;
}

.small-cup.fill {
    background: #6fb7f1;
    color: #fff;
}